In [25]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_json("generated_proj_data.json")
df

,Employee_id,Manager_id,Managed,Name,Phone_number,Job_role,Work_location,Salary
0,1,1,2,Gennifer,6209593685,Frontware,North Pole,102658
1,2,2,3,James,9738020834,Hardware,South Pole,98392
2,3,3,4,Patricia,9355968186,Backware,North Pole,120111
3,4,4,5,Gennifer,5505514285,Frontware,WFH,106372
4,5,5,6,Gennifer,2683833750,Middleware,WFH,84623
...,...,...,...,...,...,...,...,...
995,996,996,997,Michael,2197356141,Software,WFH,104808
996,997,997,998,Patricia,4853639191,Frontware,Toronto,116814
997,998,998,999,Michael,7164812715,Middleware,North Pole,87311
998,999,999,1000,James,1925391251,Frontware,South Pole,116084
999,1000,1000,1001,James,7139441816,Frontware,South Pole,104303

### Linear Regression modelling

In [26]:
df_dummy = df[['Job_role', 'Work_location']]
y = df['Salary'].astype(int)

X = pd.get_dummies(df_dummy, dtype=int)
X

,Job_role_Backware,Job_role_Frontware,Job_role_Hardware,Job_role_Middleware,Job_role_Software,Work_location_North Pole,Work_location_South Pole,Work_location_Toronto,Work_location_WFH
0,0,1,0,0,0,1,0,0,0
1,0,0,1,0,0,0,1,0,0
2,1,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,0,0,1
996,0,1,0,0,0,0,0,1,0
997,0,0,0,1,0,1,0,0,0
998,0,1,0,0,0,0,1,0,0
999,0,1,0,0,0,0,1,0,0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) 

model = LinearRegression()
model.fit(X_train, y_train) 

model.score(X_train, y_train)

0.009274778086289626

In [33]:
model.score(X_test, y_test)

-0.015685699704533596

In [30]:
import pickle

# Specify the file path to save the pipeline
file_path = 'trained_model.pkl'

# Save the pipeline to disk
with open(file_path, 'wb') as file:
    pickle.dump(model, file)

In [31]:
import pickle 

load_model = pickle.load(open("trained_model.pkl", 'rb'))

In [38]:
import pandas as pd
import numpy as np
import pickle

# Load the encoders and model
model_loaded = pickle.load(open('trained_model.pkl', 'rb'))
#df = pd.read_csv('your_data.csv')  # Ensure you load your DataFrame

def predict_salary(job_role, work_location):     
    # Create a DataFrame for input
    df_input_data = pd.DataFrame({'job_role': [job_role], 'work_location': [work_location]})

    # One-hot encode the input data
    df_input_dummy = pd.get_dummies(df_input_data, columns=['job_role', 'work_location'], drop_first=True)

    # Ensure the input DataFrame matches the model's expected input
    df_input_dummy = df_input_dummy.reindex(columns=model_loaded.feature_names_in_, fill_value=0)

    # Make salary prediction
    model_prediction = model_loaded.predict(df_input_dummy)
    return model_prediction[0]

print("Enter your job role (e.g., Senior Software Engineer)")
job_role = input()
print("Enter your job location (e.g., Hartford, CT)")
work_location = input()

predicted_salary = predict_salary(job_role, work_location)
print(f'The salary for a {job_role} in {work_location} is predicted to be ${predicted_salary:.2f}')

Enter your job role (e.g., Senior Software Engineer)
Enter your job location (e.g., Hartford, CT)
The salary for a Backware in Toronto is predicted to be $927848435687387904.00